<!DOCTYPE htML>
<html>
    <head>
        <meta content='text/html; charset=UTF-8'/>
    </head>
    <body>
        <h1>
            Hola <%= @category.description %>
        </h1>
        <p>
            Ejemplo de envio de email.
        </p>
    </body>
    
</html>